[user]
	email = 100835583+DemiAina@users.noreply.github.com
	signingkey = 0DBBBBACB96D329A
	name = DemiAina
[commit]
	gpgsign = true
[gpg]
	program = /usr/bin/gpg
[core]
	editor = nvim
[init]
	defaultBranch = main
