[user]
	email = 100835583+DemiAina@users.noreply.github.com
	signingkey = 4A36F98538D58C53
	name = DemiAina
[commit]
	gpgsign = true
[gpg]
	program = /usr/bin/gpg
[core]
	editor = nvim
[init]
	defaultBranch = main
